@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    /* border: 1px solid green; */
}

.card {
    margin: 10px;
    width: 200px;
    height: 298px;
    background: #F4D400;
    border-radius: 5px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.posicaoP, .nomeJogador, .numero {
    font-size: 30px;
    color: #544592;
}

.posicaoG {
    font-size: 90px;
    color: #F9E97F;
}

.escudo {
    height: 56px;
    position: absolute;
    right: 16px;
    top: 16px;
}

/* posicao dos elementos */
.posicaoP {
    transform: rotate(-90deg);
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    line-height: 100%;
    display: inline-block;
}

.posicaoG {
    transform: rotate(-90deg);
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 0;
    line-height: 100%;
    display: inline-block;
    width: 280px;
    text-align: center;
}

.jogador {
    z-index: 2;
}

.nomeJogador {
    position: absolute;
    bottom: 30px;
}

.numero {
    position: absolute;
    right: 16px;
    bottom: 0px; /* era 8px */
}
